/* SGSPLUSS Casecaded Style Sheet - 2018 */
/* Author: Ajmal Hussain Hy, https://ajmalhussain.in */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700'); /*Lato: font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700'); /*Montserrat: font-family: 'Montserrat', sans-serif; */

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: 'Lato', sans-serif;
}

/* Custom Bootstrap */
.navbar-custom{
    width: 100vh;
    text-align: center;
    top: 1em;
    border-radius: 30px;
    padding-right: 3em;
    padding-left: 3em;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
    .navbar-custom{
        top: 0;
        width: 100%;
        border-radius: 0;
        text-align: left;
    }
}

/* Top Section */
#top{
    background: url(../img/bg.svg) no-repeat;
    background-size: cover;
    min-height: 100%;
    color: #222;
}

.head-text-container{
    top: 8em;
}

.brand{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    display: block;
}

.head-message{
    font-size: 3em;
    font-weight: 300;
}

/* Small devices (landscape phones, 544px and up) */
@media (max-width: 544px) {
    .head-message{
        font-size: 1.5em;
    }
}

.head-image-container{
    height: 100vh;
    top: 8em;
    overflow-x: hidden;
}

.head-image-container > img{
    height: 65%;
    margin-right: 1em;
    vertical-align: top;
}

.head-image-container-right div{
    padding: 1em;
    margin: 15px 0px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.418);
}

.text-underline{
    text-decoration: underline;
}

@media (max-width: 544px) {
    .head-image-container{
        text-align: center;
    }
}

/* footer */
.author-picture{
    height: 10em;
    width: 10em;
    background: url(../img/author.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 15px;
}

.author-details{
    vertical-align: top;
}

.author-details span{
    display: block;
}

@media (max-width: 544px) {
    .author-picture{
        height: 8em;
        width: 8em;
    }

    .author-details{
        font-size: 90%;
    }
}

.credits span{
    display: block;
}

.credits span:first-child{
    font-size: 1.2em;
}

@media (max-width: 544px) {
    .credits{
        font-size: 90%;
    }
}

.donate p{
    font-size: 1.5em;
}

.donate p span{
    color: rgb(141, 27, 52);
}

.donate img{
    height: 3em;
}

@media (max-width: 544px) {
    .donate{
        font-size: 90%;
    }
}
